@inject IDialogService DialogService
@inject IJSRuntime jsRuntime

@if (Slide != null)
{
    <h3>@Slide.Name</h3>
    <MudStack AlignItems="AlignItems.Center" Row="true">
        <MudStack Class="pa-3" Width="3%">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" Size="Size.Large" OnClick="ScrollLeft" />
        </MudStack>
        <MudStack id="@SLIDER_ID" Style="overflow-x: auto;"  Class="pa-3" Width="94%">
            <MudStack Row="true">
                @foreach (string x in Slide.Links)
                {
                    <MudPaper>
                        <MudCard Style="width: 400px">
                            <MudCardMedia @onclick="() => OpenDialog(x)" Image="@x" Height="600" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">Old Paint</MudText>
                                <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>
                }
            </MudStack>
        </MudStack>
        <MudStack Class="pa-3" Width="3%"><MudIconButton Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Large" OnClick="ScrollRight" /></MudStack>
    </MudStack>
}

@code {
    private static readonly string SLIDER_ID = "mud-stack";

    [Parameter] public Objects.SliderObj Slide { get; set; } = new Objects.SliderObj { };

    private void OpenDialog(string url)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parms = new DialogParameters();
        parms.Add("ImageUrl", url);
        DialogService.Show<ImageDialog>("Simple Dialog", parms);
    }

    public async Task ScrollLeft()
    {
        await jsRuntime.InvokeVoidAsync("tryScrollId", SLIDER_ID, -400);
    }

    public async Task ScrollRight()
    {
        await jsRuntime.InvokeVoidAsync("tryScrollId", SLIDER_ID, 400);
    }
}
